@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.flame{
  @apply pt-20 pb-24 p-4 overflow-y-auto;
}

.title{
  @apply text-4xl text-center mb-4 text-black;

}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold;
}
/* 
.bg-wood-pattern {
  background-image: url('../assets/wood-pattern.jpg');
  background-color: olive;
} */

.shelf {
  @apply grid grid-cols-2 sm:grid-cols-4 
          md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 gap-4;
}

.album {
  @apply bg-slate-800 transition-transform duration-200 hover:-translate-y-2 flex flex-col justify-between;
}

.album p {
  @apply p-1 mt-2 font-semibold;
} 
